.*swp
*.gcda
*.gcno
*.la
*.lo
*.o
*.tar.gz
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/coverage.info
/coveragereport
/libtool
/stamp-h1
/test-suite.log
Makefile
Makefile.in
TAGS
wdns/libwdns.pc
wdns/rcode_to_str.c
wdns/rrclass_to_str.c
wdns/rrtype_to_str.c
t/test-str_to_name
t/test-str_to_rcode
t/test-str_to_rdata
t/test-str_to_rrtype
t/test-rdata_to_str
t/*.log
t/*.trs
